<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <style>
  body {
    background-image: url("static/BattleTest.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  </style>

    <div class="container">
      <h1 align="center">Versus</h1>
      <br>
      <p align="center">Click <a href="/home">here</a> to go back.</p>

      <p align="center">------------</p>
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}

      <form align="center"action="" method="post" id="battle">
        Enter Pokemon to Battle:<br> <input type="text" placeholder="Name" name="pname" value="{{request.form.pname}}"><br><br>
    
      <p> <b>Eligible Pokemon: </b></p>
      <!--<ul style="list-style: none;">-->
      <p style="">
      {% set count = 0 %}
        {% for i in output %} 
          	{{ i }}
          {% set count = count+1 %}
          {% if count > 5 %}
          	<br>
          	{% set count = 0 %}
          {% endif %}
        {% endfor %}
     </p>
      <!--</ul>-->
      <br>

       	<button type="submit" form="battle" value="Battle">Battle!</button>
      </form>

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}

      <br><br>

    </div>
  </body>
</html>
