<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <style>
  body {
    background-image: url("static/inputbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  </style>

    <div class="container">
      <h1>Welcome to the Pokedex!!</h1>
      <br>
      <p>Click <a href="/logout">here</a> to logout.</p>
      <p>To initiate a Pokemon battle, click <a href="/battle">here</a></p>
      <!--<p>To combine two teams, click <a href="/combineTeam">here</a></p>-->

      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}

      <h2>Add a Pokemon to your party:</h2>
      <form action="" method="post" id="form1">
        Pokemon Name: <input type="text" placeholder="Name" name="pname" value="{{ request.form.pname }}"><br><br>
        Level (1-25): <input type="text" placeholder="Level" name="plevel" value="{{ request.form.plevel }}" min="0" max="100"><br><br>
        Type: <input type="text" placeholder="Type"name="ptype" value="{{ request.form.ptype }}"><br><br>
      </form>

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}

      <button type="submit" form="form1" value="Add">Add Pokemon</button>

      <br><br>
      <a href="/tracker" class="btn btn-default">Go to Pokemon Tracker!</a>

      <br><br>
      <p>Click <a href="/removePokemon">here</a> to remove a Pokemon in your party.</p>

      <p><strong> Current Pokemon in Party: </strong></p>
      <p> <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[Pokemon] | [Type] | [Level] </b></p>
        <ul style="list-style: none;">
        {% for i in output %}
          <li>{{ i }}</li>
        {% endfor %}
      </ul>
      <br>

    </div>
  </body>
</html>
