<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <style>
  body {
    background-image: url("static/inputbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  </style>

    <div class="container">
      <h1>Welcome to the Pokedex!!</h1>
      <br>
      <p>Click <a href="/logout">here</a> to logout.</p>
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}

      <form method="get" id="form1">
        Pokemon Name: <input type="text" name="pname" value="{{ request.form.pname }}"><br><br>
        Level (1-100): <input type="text" name="plevel" value="{{ request.form.plevel }}" min="0" max="100"><br><br>
        Type:
        <select>
          <option value="fire" name="type">Fire</option>
          <option value="water" name="type">Water</option>
          <option value="normal" name="type">Normal</option>
          <option value="electric" name="type">Electric</option>
          <option value="grass" name="type">Grass</option>
        </select> <br><br>
      </form>
      
      {{ request.form.type }}

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}

      <button type="submit" form="form1" value="Add">Add Pokemon</button>

    </div>
  </body>
</html>
