<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Pokedex</h1>
      <br>
      <p>Click <a href="/logout">here</a> to logout.</p>
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}



    </div>



    <div class="users" style="margin-left:20%">
      <h2>Registered Users List</h2>
      <table style="width:100%;">
        {%for user in users%}
          <tr>
            <td>{{users[0]}}</td>
          </tr>
        {%endfor%}
      </table>
    </div>

  </body>
</html>
