<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <style>
  body {
    background-image: url("static/inputbackground.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  </style>

    <div class="container">
      <h1>Remove Pokemon</h1>
      <br>
      <p>Click <a href="/home">here</a> to go back.</p>

      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}

      <form action="" method="post" id="form2">
        Remove Pokemon: <input type="text" placeholder="Name" name="pname" value="{{request.form.pname}}"><br><br>
      </form>

      <button type="submit" form="form2" value="Remove Pokemon">Remove Pokemon</button>
      <br>

      <br>
      <p> Current Pokemon: </p>
      <p> <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[Pokemon] [Type] [Level] </b></p>
        <ul>
        {% for i in output %} 
          <li>{{ i }}</li>
        {% endfor %}
      </ul>
      <br>

      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}

    </div>
  </body>
</html>
